:root {
    --primary-color: #1d5888;
    --secondary-color: #ff993b;
    --dark-color: #292929;
    --white-color: #dff3e4;
}
body {
    color: var(--dark-color);
}

nav {
    background-color: var(--dark-color);
}
main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

footer {
    background-color: var(--dark-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

footer .social>a {
    color: var(--white-color);
    opacity: 0.75;
}

main .chkb {
    color: green;
}

footer .social>a:hover {
    color: var(--secondary-color);
    opacity: 0.9;

}

footer {
    padding-right: 1rem;
}

.bsicon{
    color: #8312FA;
    }
    
.jsicon{
color: #F0DB4F;
}

.html5icon{
color: #E44D26;
}

.cssicon{
color: #0A71B8;
}
.checklist>li i {
    color: var(--secondary-color);
}
code[class*="language-"],
    pre[class*="language-"] {
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word;
}